

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Jinja2 &mdash; Flask dokumentace 1.0.0 documentation</title>
    
    <link rel="stylesheet" href="_static/default.css" type="text/css" />
    <link rel="stylesheet" href="_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '',
        VERSION:     '1.0.0',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="_static/jquery.js"></script>
    <script type="text/javascript" src="_static/underscore.js"></script>
    <script type="text/javascript" src="_static/doctools.js"></script>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <link rel="top" title="Flask dokumentace 1.0.0 documentation" href="index.html" />
    <link rel="prev" title="Flask" href="Flask.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="Flask.html" title="Flask"
             accesskey="P">previous</a> |</li>
        <li><a href="index.html">Flask dokumentace 1.0.0 documentation</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="jinja2">
<h1>Jinja2<a class="headerlink" href="#jinja2" title="Permalink to this headline">¶</a></h1>
<p>Jinja2 je šablonovací jazyk pro Python, vytvořený podle Django. Je rychlý, bezpečný, široce používaný a nabízí sandboxové prostředí pro zpracovávání šablon.</p>
<div class="section" id="promenne">
<h2>Proměnné<a class="headerlink" href="#promenne" title="Permalink to this headline">¶</a></h2>
<p>Proměnné mohou obsahovat atributy nebo elementy, ke kterým můžeme přistoupit pomocí tečky nebo hranatých závorek.</p>
<div class="highlight-python"><div class="highlight"><pre><span class="p">{{</span> <span class="n">var</span><span class="o">.</span><span class="n">attr</span> <span class="p">}}</span>
<span class="p">{{</span> <span class="n">var</span><span class="p">[</span><span class="s">&quot;attr&quot;</span><span class="p">]}}</span>
</pre></div>
</div>
<p>Pokud proměnná nebo atribut neexistuje, vrátí se nám nedefinovaná hodnota, což při vytištění zobrazí prázdný string.</p>
<div class="section" id="filtry">
<h3>Filtry<a class="headerlink" href="#filtry" title="Permalink to this headline">¶</a></h3>
<p>Proměnné mohou být modifikovány filtry. Filtry se od proměnných oddělují  symbolem | a mohou mít volitelné argumenty v závorkách. Můžeme skládat více filtrů za sebe, výstup prvního filtru přejde na vstup druhého. Zde je příklad využití filtrů:</p>
<div class="highlight-python"><div class="highlight"><pre><span class="p">{{</span> <span class="n">var</span><span class="o">|</span><span class="n">join</span><span class="p">(</span><span class="s">&quot;, &quot;</span><span class="p">)</span><span class="o">|</span><span class="n">capitalize</span> <span class="p">}}</span>
</pre></div>
</div>
</div>
</div>
<div class="section" id="komentare">
<h2>Komentáře<a class="headerlink" href="#komentare" title="Permalink to this headline">¶</a></h2>
<p>Pro okomentování části kódu používejte {# Komentář #}. Toto se hodí pro hledání chyb v kódu nebo přidání důležitých informací.</p>
</div>
<div class="section" id="escapovani">
<h2>Escapování<a class="headerlink" href="#escapovani" title="Permalink to this headline">¶</a></h2>
<p>Někdy je nutné, aby Jinja2 ignoroval určité části kódu, se kterými by jinak zacházel jako s proměnnými nebo bloky. Toho můžeme dosáhnout pomocí bloku raw, do kterého vložíme kód, který má být ignorován. Zde je příklad:</p>
<div class="highlight-python"><pre>{% raw %}
&lt;ul&gt;
{%- for item in item_list %}
&lt;li&gt;{{ item }}&lt;/li&gt;
{% else %}
&lt;li&gt;No items found&lt;/li&gt;
{%- endfor %}
&lt;/ul&gt;
{% endraw %}</pre>
</div>
</div>
<div class="section" id="dedeni-sablon">
<h2>Dědění šablon<a class="headerlink" href="#dedeni-sablon" title="Permalink to this headline">¶</a></h2>
<p>Nejužitečnější část jazyku Jinja2 je dědění šablon. Dědění šablon nám umožňuje vytvořit základní šablonu, která obsahuje všechny elementy naší stránky a definuje bloky, které mohou dědické šablony přepisovat.</p>
<div class="section" id="rodicovska-sablona">
<h3>Rodičovská šablona<a class="headerlink" href="#rodicovska-sablona" title="Permalink to this headline">¶</a></h3>
<p>Základní šablona definuje kostru HTML dokumentu pomocí {% block %} tagů. A dědické šablony nám vyplní předdefinované bloky. Takto může vypadat jednoduchá kostra:</p>
<div class="highlight-python"><pre>&lt;!doctype html&gt;
&lt;head&gt;{% block head %}
&lt;link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}"&gt;
{% endblock %}&lt;/head&gt;&lt;body&gt;
&lt;div class=page&gt;&lt;div class=content&gt;{% block body %}{% endblock %}&lt;/div&gt;
&lt;/body&gt;</pre>
</div>
</div>
<div class="section" id="dedicka-sablona">
<h3>Dědická šablona<a class="headerlink" href="#dedicka-sablona" title="Permalink to this headline">¶</a></h3>
<p>Dědická šablona může vypadat takto:</p>
<div class="highlight-python"><pre>{% extends "skeleton.html" %}
{% block head %}
{{ super() }}
&lt;title&gt;index&lt;/title&gt;
{% endblock %}
{% block body %}
&lt;h1&gt;This is index&lt;/h1&gt;
&lt;p&gt;This is paragraph&lt;/p&gt;
{% endblock %}</pre>
</div>
<p>To, že tato šablona rozšiřuje další šablonu, říká tag {% extends %}. Šablonovací systém, při vyhodnocování této šablony, nejprve vyhledá jejího rodiče. Extends tag by měl být první tag, protože vše před ním se normálně vytiskne a může způsobit zmatek.
Pro přístup k šabloně v podadresáři můžeme použít lomítko:</p>
<div class="highlight-python"><pre>{% extends "kostra/skeleton.html" %}</pre>
</div>
<p>Není možné použít více bloků se stejným jménem ve stejné šabloně. Pokud by byly dva stejně pojmenované bloky, rodičovská šablona by nevěděla, který ze dvou bloků použít.
Pokud chcete vypsat stejný blok vícekrát, můžete použít proměnnou self a zavolat jméno bloku:</p>
<div class="highlight-python"><pre>{% block body %}{% endblock %}{{ self.body() }}</pre>
</div>
<p>Je možné vyrenderovat obsah rodičovského bloku zavoláním super. To nám vrátí obsah rodičovského bloku a ten můžeme dále rozšířit. Pro lepší přehlednost je možné napsat jméno bloku na konec endblocku:</p>
<div class="highlight-python"><pre>{% block head %}
{{ super() }}
&lt;title&gt;index&lt;/title&gt;
{% endblock head  %}</pre>
</div>
<p>V blocích nelze přistoupit k proměnným, které jsou definované v jiných vrstvách:</p>
<div class="highlight-python"><pre>{%- for item in item_list %}
{% block neco %}{{ item }}{% endblock %}
{%- endfor %}</pre>
</div>
<p>Tento kód by nám vytiskl jen spoustu prázdných řádků, protože uvnitř bloku nelze přistoupit k proměnné item. Toto můžeme změnit přidáním do bloku scoped, což zpřístupní tyto proměnné v daném bloku:</p>
<div class="highlight-python"><pre>{%- for item in item_list %}
{% block neco scoped %}{{ item }}{% endblock %}
{%- endfor %}</pre>
</div>
</div>
</div>
<div class="section" id="ridici-struktury">
<h2>Řídící struktury<a class="headerlink" href="#ridici-struktury" title="Permalink to this headline">¶</a></h2>
<p>Řídící struktury jsou věci, které řídí tok programu. Například if, elif, else, for, macro a block. Řídící struktury se nachází uvnitř těchto závorek {% … %}.</p>
<div class="section" id="for">
<h3>For<a class="headerlink" href="#for" title="Permalink to this headline">¶</a></h3>
<p>Řídící struktury jsou věci, které řídí tok programu. Například if, elif, else, for, macro a block. Řídící struktury se nachází uvnitř těchto závorek {% … %}.</p>
<div class="highlight-python"><pre>&lt;ul&gt;
{%- for item in item_list %}
&lt;li&gt;{{ item }}&lt;/li&gt;
{%- endfor %}
&lt;/ul&gt;</pre>
</div>
<p>Díky tomu, že proměnné v šablonách si zachovávají vlastnosti objektu, je možné použít i slovník:</p>
<div class="highlight-python"><pre>&lt;dl&gt;
{% for key, value in slov.iteritems() %}
&lt;dt&gt;{{ key|e }}&lt;/dt&gt;
&lt;dd&gt;{{ value|e }}&lt;/dd&gt;
{% endfor %}
&lt;/dl&gt;</pre>
</div>
<p>Na rozdíl od jazyka Python ve smyčce nemůžeme použít break nebo continue. Ale můžeme filtrovat seznamy, což nám umožní přeskočit dané položky. Následující příklad přeskočí všechny skryté položky:</p>
<div class="highlight-python"><pre>&lt;ul&gt;
{%- for item in item_list if not item.hidden %}
&lt;li&gt;{{ item }}&lt;/li&gt;
{%- endfor %}
&lt;/ul&gt;</pre>
</div>
<p>Pokud žádné opakování neproběhlo, protože je seznam prázdný nebo filtrování odstranilo všechny položky ze seznamu, můžeme zobrazit náhradní blok pomocí else:</p>
<div class="highlight-python"><pre>&lt;ul&gt;
{%- for item in item_list %}
&lt;li&gt;{{ item }}&lt;/li&gt;
{% else %}
&lt;li&gt;No items found&lt;/li&gt;
{%- endfor %}
&lt;/ul&gt;</pre>
</div>
</div>
<div class="section" id="if">
<h3>If<a class="headerlink" href="#if" title="Permalink to this headline">¶</a></h3>
<p>Toto tvrzení je porovnatelné s if v Pythonu. Můžeme ho použít pro vyzkoušení, jestli proměnná je definovaná, není prázdná nebo není nepravdivá:</p>
<div class="highlight-python"><pre>{% if not session.logged_in %}
&lt;a href="{{ url_for('login') }}"&gt;log in&lt;/a&gt;
{% else %}
&lt;a href="{{ url_for('logout') }}"&gt;log out&lt;/a&gt;
{% endif %}</pre>
</div>
</div>
<div class="section" id="makra">
<h3>Makra<a class="headerlink" href="#makra" title="Permalink to this headline">¶</a></h3>
<p>Makra jsou porovnatelná s funkcemi v jiných programovacích jazycích. Jsou užitečné pro uložení často používaných věcí do znovu použivatelných funkcí. Zde je příklad vytvoření makra:</p>
<div class="highlight-python"><pre>{% macro input(name, value='', type='text', size=16) -%}
&lt;input name="{{ name }}" value="{{ value|e }}" type="{{ type }}" size="{{ size }}"&gt;
{%- endmacro %}</pre>
</div>
<p>Tímto způsobem můžeme makro zavolat:</p>
<div class="highlight-python"><pre>&lt;p&gt;Firstname:{{ input("Firstname") }}&lt;/p&gt;
&lt;p&gt;Lastname:{{ input("Lastname") }}&lt;/p&gt;
&lt;p&gt;Nickname:{{ input("Nickname", size="12") }}&lt;/p&gt;
&lt;p&gt;Age:{{ input("Age", type="number", size="3") }}&lt;/p&gt;
&lt;p&gt;Password:{{ input('Password', type='password') }}&lt;/p&gt;</pre>
</div>
</div>
<div class="section" id="call">
<h3>Call<a class="headerlink" href="#call" title="Permalink to this headline">¶</a></h3>
<p>V některých případech je užitečné předat makro dalšímu makru. Pro tento případ tu je speciální blok call. Bloku call můžeme předat argumenty. Zde je příklad použití bloku call:</p>
<div class="highlight-python"><pre>{% macro Clanek(title, class='clanek') -%}
&lt;div class="{{ class }}"&gt;
&lt;h2&gt;{{ title }}&lt;/h2&gt;
&lt;div class="obsah"&gt;
{{ caller() }}
&lt;/div&gt;
&lt;/div&gt;
{%- endmacro %}
{% call Clanek("Nadpis") %}
Text ktery se zobrazi v promenne caller.
{% endcall %}</pre>
</div>
</div>
<div class="section" id="importovani">
<h3>Importování<a class="headerlink" href="#importovani" title="Permalink to this headline">¶</a></h3>
<p>Jinja2 umožňuje importovat makra z jiných šablon. Je důležité si uvědomit, že importované šablony nemají přístup k proměnným v aktuální šabloně, pokud proměnné nejsou globální.
Buď můžeme importovat celou šablonu do proměnné, nebo jen specifická makra. Náš modul může vypadat takto:</p>
<div class="highlight-python"><pre>{% macro input(name, value='', type='text', size=16) -%}
&lt;input name="{{ name }}" value="{{ value|e }}" type="{{ type }}" size="{{ size }}"&gt;
{%- endmacro %}
{%- macro textarea(name, value='', rows=10, cols=40) -%}
&lt;textarea name="{{ name }}" rows="{{ rows }}" cols="{{ cols }}"&gt;{{ value|e }} &lt;/textarea&gt;
{%- endmacro %}</pre>
</div>
<p>Nejjednodušší je importovat celý modul do proměnné:</p>
<div class="highlight-python"><pre>{% import "forms.html" as forms %}
&lt;dl&gt;&lt;dt&gt;Username&lt;/dt&gt;
&lt;dd&gt;{{ forms.input("autor") }}&lt;/dd&gt;
&lt;dt&gt;Title&lt;/dt&gt;
&lt;dd&gt;{{ forms.input("titulek") }}&lt;/dd&gt;&lt;/dl&gt;
&lt;p&gt;{{ forms.textarea("clanek") }}&lt;/p&gt;</pre>
</div>
<p>Nebo můžeme importovat jednotlivá makra:</p>
<div class="highlight-python"><pre>{% from "forms.html" import input, textarea %}
&lt;dl&gt;&lt;dt&gt;Username&lt;/dt&gt;
&lt;dd&gt;{{ input("autor") }}&lt;/dd&gt;
&lt;dt&gt;Title&lt;/dt&gt;
&lt;dd&gt;{{ input("titulek") }}&lt;/dd&gt;&lt;/dl&gt;
&lt;p&gt;{{ textarea("clanek") }}&lt;/p&gt;</pre>
</div>
<p>Makra a proměnné, jejichž jména začínají jedním nebo více podtržítky jsou soukromá a tak nemohou být importována.</p>
</div>
</div>
<div class="section" id="testovani-sablon">
<h2>Testování šablon<a class="headerlink" href="#testovani-sablon" title="Permalink to this headline">¶</a></h2>
<p>Při hledaní chyb v kódu je užitečné zjistit zdrojový kód, který Jinja2 vyprodukuje z šablon. Toto můžeme zjistit následujícím způsobem:</p>
<div class="highlight-python"><div class="highlight"><pre><span class="kn">from</span> <span class="nn">jinja2</span> <span class="kn">import</span> <span class="n">Template</span>
<span class="n">temp</span> <span class="o">=</span> <span class="n">Template</span><span class="p">(</span><span class="s">u&#39;&#39;&#39;</span><span class="se">\</span>
<span class="s">&lt;!DOCTYPE html&gt;</span>
<span class="s">&lt;html&gt;</span>
<span class="s">&lt;head&gt;</span>
<span class="s">&lt;title&gt;titulek&lt;/title&gt;</span>
<span class="s">&lt;/head&gt;</span>
<span class="s">&lt;body&gt;</span>
<span class="s">{{ var|e }}</span>
<span class="s">&lt;ul&gt;</span>
<span class="s">{</span><span class="si">% f</span><span class="s">or item in item_list %}</span>
<span class="s">&lt;li&gt;{{ item }} kostek&lt;/li&gt;</span>
<span class="s">{</span><span class="si">% e</span><span class="s">ndfor %}</span>
<span class="s">&lt;/ul&gt;</span>
<span class="s">{</span><span class="si">% f</span><span class="s">or key, value in dict.iteritems() %}</span>
<span class="s">&lt;dt&gt;{{ key|e }}&lt;/dt&gt;</span>
<span class="s">&lt;dd&gt;{{ value|e }}&lt;/dd&gt;</span>
<span class="s">{</span><span class="si">% e</span><span class="s">ndfor %}</span>
<span class="s">&lt;/dl&gt;</span>
<span class="s">&lt;/body&gt;</span>
<span class="s">&lt;/html&gt;</span>
<span class="s">&#39;&#39;&#39;</span><span class="p">)</span>
<span class="k">print</span> <span class="n">temp</span><span class="o">.</span><span class="n">render</span><span class="p">(</span>
<span class="n">var</span> <span class="o">=</span> <span class="s">&#39;&lt;h1&gt;neco&lt;/h1&gt;&#39;</span><span class="p">,</span>
<span class="n">item_list</span> <span class="o">=</span> <span class="p">[</span><span class="mi">5</span><span class="p">,</span> <span class="mi">6</span><span class="p">,</span> <span class="mi">13</span><span class="p">,</span> <span class="mi">23</span><span class="p">,</span> <span class="mi">41</span><span class="p">],</span>
<span class="nb">dict</span> <span class="o">=</span> <span class="p">{</span><span class="s">&quot;neco&quot;</span><span class="p">:</span><span class="mi">1</span><span class="p">,</span><span class="s">&quot;jine&quot;</span><span class="p">:</span><span class="mi">4</span><span class="p">,</span> <span class="s">&quot;dalsi&quot;</span><span class="p">:</span><span class="mi">45</span><span class="p">},</span>
<span class="p">)</span>
</pre></div>
</div>
<p>Do Template(&#8216;&#8217;&#8216;…&#8217;&#8216;&#8217;) vložíme šablonu, kterou chceme otestovat a do temp.render() vložíme proměnné, které chceme, aby šablona převzala. Po spuštění programu Python vytiskne zdrojový kód do konzole, který Jinja2 vytvoří z šablony.</p>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h3><a href="index.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">Jinja2</a><ul>
<li><a class="reference internal" href="#promenne">Proměnné</a><ul>
<li><a class="reference internal" href="#filtry">Filtry</a></li>
</ul>
</li>
<li><a class="reference internal" href="#komentare">Komentáře</a></li>
<li><a class="reference internal" href="#escapovani">Escapování</a></li>
<li><a class="reference internal" href="#dedeni-sablon">Dědění šablon</a><ul>
<li><a class="reference internal" href="#rodicovska-sablona">Rodičovská šablona</a></li>
<li><a class="reference internal" href="#dedicka-sablona">Dědická šablona</a></li>
</ul>
</li>
<li><a class="reference internal" href="#ridici-struktury">Řídící struktury</a><ul>
<li><a class="reference internal" href="#for">For</a></li>
<li><a class="reference internal" href="#if">If</a></li>
<li><a class="reference internal" href="#makra">Makra</a></li>
<li><a class="reference internal" href="#call">Call</a></li>
<li><a class="reference internal" href="#importovani">Importování</a></li>
</ul>
</li>
<li><a class="reference internal" href="#testovani-sablon">Testování šablon</a></li>
</ul>
</li>
</ul>

  <h4>Previous topic</h4>
  <p class="topless"><a href="Flask.html"
                        title="previous chapter">Flask</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="_sources/Jinja2.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="Flask.html" title="Flask"
             >previous</a> |</li>
        <li><a href="index.html">Flask dokumentace 1.0.0 documentation</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright 2014, Hlavinka.
      Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.1.3.
    </div>
  </body>
</html>